<!-- Create New Organizational Unit -->

@model NES.Models.OrgUnit

@{
    ViewBag.Title = "New Organizational Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <!-- Page Header -->
    <div class="d-flex border-bottom" style="width: 450px;">
        <button class="btn btn-link d-md-none tooltips icn-color mr-3 mb-1 p-0" id="sidebarToggleTop" title="Show/Hide Sidebar"><i class="mdi mdi-menu mdi-36px"></i></button>
        <h3 class="text-header">Add New Organizational Unit</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mx-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-label-group">
                @*@Html.LabelFor(model => model.OrgUnitName, htmlAttributes: new { @class = "control-label col-md-12 mt-2" })*@

                @Html.EditorFor(model => model.OrgUnitName, new { htmlAttributes = new { @class = "form-control", @id = "orgUnitInput", @type = "text", @placeholder = "Organizational unit name", @autofocus = "autofocus" } })
                <label for="orgUnitInput" class="text-black-50">Organizational Unit name</label>

                @Html.ValidationMessageFor(model => model.OrgUnitName, "", new { @class = "text-danger" })
            </div>
            
            @*<input type="submit" value="Add" class="btn btn-primary btn-block" />*@
            <button class="btn btn-primary btnSubmit btn-block tooltips" title="Save new Organizational Unit"><i class="mdi mdi-content-save-outline mdi-18px"></i> Add</button>
        </div>
    }

    <div>
        @*@Html.ActionLink("Back to List", "Index")*@
        @Html.ActionLink("\u21A9", "Index", null, new { @class = "btn btn-link tooltips text-warning text-decoration-none", @title = "Back to list" })
    </div>
</body>
</html>